*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
p{
    color: #577592;
    font-size: 1rem;
    font-size: 20px;
    line-height: 1.5;
}
h1{
    font-family: Averta PE,sans-serif;
    font-size: 3rem;
    color: #183b56;
    font-weight: 600;
}
button{
    border:2px;
    background-color: #2294ed;
    color:white;
    margin:0 5px;
    padding:10px;
    /* box-shadow: 2px -2px #edf1f5fa; */
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
    font-size:16px;
    border-radius:2px;
}
.middle{
    text-align: center;
}
.container{
    margin:25px auto;

    max-width: 1100px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.banner{
    background-image: url(https://assets-global.website-files.com/5af97a9c84ec1bc79d81b5f4/5b7e4d7973addf81ed1f4010_pattern.png);
    background-color: #e74694;
    margin:0 auto;
    height:50px;
    background-size: 300px;
}
.banner p{
    text-align: center;
    color:white;
    /* margin-top:20px; */
    position: relative;
     top: 50%;
     transform: translateY(-50%);
     font-size:16px;
     
}
.banner a{
    text-decoration: none;
}
.header{
    display: flex;
    /* flex-direction: row-reverse; */
    /* justify-content: space-between; */
    padding:15px 10px;
    align-items: center;
    padding-top:10px;
}
.header li{
    display:inline-block;
    padding:4px;
}
.header h2{
    /* align-self: flex-start; */
    margin-right:auto;
}

.landingPage{
    height:80vh;
}
.landingPage img{
    float:right;
    max-width:45%;
    height: 75vh;
}
.landingPage div{
    display:inline-block;
     max-width: 45%;
     position: relative;
     top: 50%;
     transform: translateY(-60%);
    /*height: 80vh; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
}
.landingPage h1{
    margin-bottom: 20px;
}
.landingPage p{
    max-width:80%;
    text-align: justify;
    margin-bottom: 20px;
    margin-left:5px;
}
.landingPage button{
    padding:1rem 2rem;
    border-radius:5px;
}
.landingBottom{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.features.container{
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content:space-evenly; */
    height: 90vh;
    position: relative;
}
.features.container div{
    width:30%;
    text-align: center;
    padding: 20px;
}
.features.container img{
    height: 40px;
    width: 40px;
}
.features.h1{
    margin-top: 25vh;
    margin-bottom: 15vh;
    text-align: center;
    font-size: 2rem;
    
}
.features.container div h2{
    font-weight: 600;
    color:#183b56;
    margin-top: 10px;
}
.features.container div p{
    width:80%;
    margin:0 auto;
}
.features.container div.design{
    position:absolute;
    background-color: #ebf2fa;
    top:-40%;
    width:65vw;
    height:110vh;
    border-radius:50%;
    border-top-right-radius: 80%;
    transform: rotate(-14deg);
    z-index: -1;
    opacity: .8;
    margin-left: 20%;
}
button.type2{
    background-color: white;
    color:black;
    border: .5px solid #b9cde4;
    box-shadow: none;
    padding:10px 25px;
    margin-top: 10px;
    margin-bottom:25px;
}



.page3_4setup>div{
    display: inline-block;
    max-width:500px;
    height:75vh;
    margin: 15px;
    /* margin-right:0; */
    margin-top:15px;
}
.page3_4setup>div>img{
    width:100%;
    height:85%;
    position: relative;
    top:10%;
}

.quotations{
    margin:25px 0;
}
.quotations>img{
    width:48px;
    height: 48px;
}
.quotationsdiv{
    display: inline-block;
    margin-left: 10px;
}



.examples{
    height: 90vh;
}

.examples>button{
    margin:0 auto;
}
.examplesImages{
    display:flex;
    /* flex-wrap: wrap; */
    height:60vh;
    align-content: space-between;
    position:absolute;
}
.examplesImages div{
    max-width:330px;
    /* margin-top:15px; */
    /* margin:1.8%; */
    color: white;
    padding: 15px;
}
.examplesImages>.a{
    background-image: url(https://assets-global.website-files.com/5b29b478056829d173e3e394/5b48581f238eb652d84d356f_cover_navigate.jpg);
    position: relative;
}
.examplesImages>.b{
    /* background-image: url(); */
    background-image:url(https://assets-global.website-files.com/5b29b478056829d173e3e394/5b485751238eb68a594d3555_cover_audience.jpg);
    position: relative;
}
.examplesImages>.c{
    background-image: url(https://assets-global.website-files.com/5b29b478056829d173e3e394/5b48591a238eb6563b4d3581_cover_tasks.jpg);
    position: relative;

}
.examplesImages>.d{
    background-image: url(https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg);
    position: relative;
}


.examplesImages>div.a>div{
    position:absolute;
    bottom:0;
    left:0;
}


.footer>img{
    height:30%;
}
.footer h2{
    font-size: 20px;
    line-height: 1.2;
}
.footer>div a{
    display: block;
}